# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio
.vs/
*.sln
*.suo
*.user
*.userprefs

# Rider
.idea/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Visual Studio solution
*.slnx